torch
torchvision
torchaudio
git+https://github.com/huggingface/diffusers.git
requests
numpy
pillow
transformers
safetensors
aiohttp
einops
scipy
tqdm
psutil
gdown
ultralytics
opencv-python
moviepy
pandas
matplotlib
scikit-image
scikit-learn
